
div.image{
    width:500px;
    height: 450px;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    box-sizing: border-box;
    float: left;
    margin-left:10px;
}

div.contents{
    float:left;
    width:400px;
    height: 400px;
    box-sizing: border-box;
    margin-left:60px;
    margin-top:30px;

}
div.product{
    float: left;
    height: auto;
    box-sizing: border-box;
}
.button{
    width:400px;
    background-color:mediumturquoise;
    border:none;
    color:#fff;
    padding:13px 0;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    font-size:15px;
    margin:4px;
    cursor:pointer;
    margin-top:40px;

}
.pos{
margin:0;padding:0;
text-align:center;
position:absolute;
bottom:10px;
left:0;
width:100%;
text-align:center;
}

#slide{
    margin:0;padding:0;
    height:600px;
    /* position:relative; */
    overflow:hidden;
    width:500px;
    /* display:flex; */
    /* align-items:center; */
    /* justify-content:center; */
    
}

.image1{
    background-image: url("여기서부터이어서\productlist_page\productlist\image\product1.JPG");
    background-size:cover;
}

.image2{
    background-image: url("여기서부터이어서\productlist_page\productlist\image\product1.JPG");
    background-size:cover;
}
ul{
    margin:0;padding:0;
    width:1000%;height:100%;transition:1s;
}

li{
    margin:0;padding:0;
    float:left;width:9%;height:100%;
}


label{
margin:0;padding:0;
display:inline-block;
vertical-align:middle;
width:10px;
height:10px;
border:2px solid #666;
background:#fff;
transition:0.3s;
border-radius:50%;
cursor:pointer;
}


#pos1:checked~ul{
margin-left:0%;
}

#pos2:checked~ul{
margin-left:-100%;
}

#pos3:checked~ul{
margin-left:-200%;
} 

#pos1:checked~.pos>:nth-child(1){
background-color:red;
}

#pos2:checked~.pos>:nth-child(2){
background-color:red;
}
.price{
color: mediumturquoise;
}
.favorite{
margin-left:20px;
float: left;
width:30%;
}