.container{
    width: 100%;
    /* max-width: 1500px; */
    margin: auto;
    height: 100%;
    /* padding: 0px 0 50px; */
    border: 1px solid black;
    /* font-family: 'Do Hyeon', 'sans-serif'; */
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 500;
}

/* head */
.Topbar{
    width: 100%;
    height: 70px;
    border: 1px solid black;    
    display: flex;
}

#logo{
    border: 1px solid black;
    flex :1;
}

#searchbar{
    border: 1px solid black;
    flex :5;
}

#login{
    border: 1px solid black;
    flex: 1;
}

/* main */

.main{
    width: 100%;
    height: 100%;
    /* height: 1500px; */
    /* max-height: 1500px; */
    border: 1px solid black;
    display: flex;
    font-size: 20px;
    
    
}

#category_bar{
    border: 1px solid black;
    flex: 1;
}

#thema_container{
    border: 1px solid black;
    padding: 40px;
    flex: 4.6;
    background-color: #f8f9fa;
}

img{
    width: 100%;
    height: 100%;
}

#free_space_main{
    border: 1px solid black;
    flex: 1;
}

#selection_bar{
    border: 1px solid black;
    width: 100%;
    height: 500px;
    margin-top: 0pt;
    background-color: white;
    align-content: center;
    /* display: flex; */

}

.wrap_checkbox{
    display: flex;
    /* border: 5px solid black; */
    margin: auto;
    /* margin-left: 20pt; */
    padding-top: 14pt;
    justify-content: center;
    font-family: 'Noto Sans KR', 'sans-serif';
    font-size: 13pt;
}

.ok_button{
    /* border: 5px solid black; */
    align-items: center;
}

.button_chk{
    margin-left: 49%;
    margin-top: 15pt;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 11pt;
}

.check_element{
    /* margin-left: 30pt; */
    /* margin: auto; */
    padding: auto;
    margin-top: 5pt;
    margin-right: 5pt;
    margin-left: 50pt;
    /* margin-top: 30pt; */
}

#productlist_wrap{
    border: 1px solid black;
    width: auto;
    /* height: 100%; */
    margin-top: 10pt;
    padding: 40px;
    background-color: white;
    /* align-content: center; */
}

.box{
    position: relative;
    text-align: left;
    display: inline-block;
    width: 250px;
    /* margin-right: 40px; */
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 23px;
    /* border: 1px solid black; */
    
}

.product_image{
    height: 160px;
    overflow: hidden;
    background-color: #f8f9fa;
    border-radius: 8px;
    border-radius: 10px;
}

.product_title{
    display: block;
    font-weight: 500;
    color: #212529;
    font-size: 17px;
    line-height: 18px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Noto Sans KR', 'sans-serif';
    
}

.seller-info{
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: 1px solid black; */
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    /* font-size: 20px; */
}

/* .seller-name{
    display: block;
    font-weight: 600;
    color: #212529;
    font-size: 16px;
    line-height: 18px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.seller-name,
.seller-score{
    font-size: 14px;
    line-height: 18px;
    margin-top: 6px;
    color: #868e96;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_price{
    font-weight: 500;
    /* color: #ff8a3d; */
    color: mediumturquoise;
    ;
    font-size: 20px;
    line-height: 18px;
    margin-top: 6px;
    font-family: 'Do Hyeon', 'sans-serif';
    
}

.product_hashtag{
    font-weight: 500;
    color:  #868e96;
    font-size: 14px;
    line-height: 2px;
    margin-top: 1px;
}

/* footer */
footer{
    width: 100%;
    height: 100px;
    padding-top: 10px;
    border: 1px solid black;
    text-align: center;
    color: #879;    
}